﻿@using SZA.Models

@model VendingMachine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VendingMachine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                <text>Nazwa</text>
            </th>
            <th>
                <text>Cena</text>
            </th>
            <th>
                <text>Ilosc</text>
            </th>
        </tr>
        @foreach (Product item in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Count)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VendingMachineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
