﻿@model IEnumerable<SZA.Models.VendingMachine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendingMachineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendingMachineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendingMachineId })
        </td>
    </tr>
}

</table>
