﻿
@{
    ViewBag.Title = "Api";
}

<h2>Api</h2>

<table class="table">
    <tr>
        <th>Adres</th>
        <th>Opis</th>
    </tr>
    <tr>
        <td>api/machines</td>
        <td>listuje maszyny</td>
    </tr>
</table>